<form (ngSubmit)="addMessage()">

  <p>
    名稱：
    <input
      type="text"
      name="name"
      [(ngModel)]="name"
    >
  </p>

  <p>
    內容：
    <input
      type="text"
      name="content"
      [(ngModel)]="content"
    >
  </p>

  <p>
    <button type="submit">新增留言</button>
  </p>

</form>
<!-- 用 ng-container 來迴圈就不需要額外再包一層了 -->
<ul *ngFor="let message of messages">
  <li>
    留言人： {{ message.name }}
  </li>
  <li>
    訊息內容： {{ message.content }}
  </li>
  <li>
    時間： {{ message.date | date: 'yyyy/MM/dd HH:mm:ss' }}
  </li>
</ul>
<!-- <ng-container *ngFor="let message of messages">

  <p>
    留言人： {{ message.name }}
  </p>

  <p>
    訊息內容： {{ message.content }}
  </p>

  <p>
    時間： {{ message.date | date: 'yyyy/MM/dd HH:mm:ss' }}
  </p>

</ng-container> -->
